* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(./img/northern-hemisphere-3591569_1280.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 21, 87);
    font-size: large;
}

#site {
    width: 800px;
    height: 820px;
    background: rgba(238,232,170, 0.7);
    margin: 100px auto 0px;
    border-radius: 15px;
    padding: 10px;
}

.row {
    display: flex;
}

.container-magias label {
    display: block;
}

.col {
    width: 100%;
    margin: 10px;
}

hr {
    border-color: bisque;
}

label {
    display: inline-block;
    width: 100px;
}

nav a {
    text-decoration: none;
    color: bisque;
    background-color: rgb(0, 21, 87);    
    padding: 5px;
    border-radius: 5px;
}

#botao {
    border: none;
    color: bisque;
    background-color: rgb(0, 21, 87);    
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
}

textarea {
    background-image: url(./img/tela-de-texto.jpg);
}